<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>View Task</title>
    </head>
    <body style="background-color:#f0f0f0;" >
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand mb-0 h1" href="#!">DjangoToDo</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'create' %}">Create</a>
	      </li>
	    </ul>
	  </div>
	</nav><br/>
    	
    	<div class="container" align="center"><br/>
	        <h1>View Task List Down Bellow</h1>
			<ol><br/>
			    {% for task in tasks %}
			        {% if task.done == True %}
			        <li><s><h5>{{ task.title }}</h5></s></li>
			        {% else %}
			        <li><h5>{{ task.title }}</h5></li>
			    	{% endif %}
			    {% endfor %}
			</ol>
		</div>
    </body>
</html>